<?xml version="1.0"?>

<model>
  <name>My Bot</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Forrest Edwards</name>
    <email>forrest.o.edwards@gmail.com</email>
  </author>

  <description>
    A Platform for a .625m x 1.25m utility Robot
  </description>
</model>

